<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab4">

    <application>
        <activity
            android:name=".Lab4Activity"
            android:label="@string/title_activity_lab4"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>